
/*
Margin = space outside
padding = space inside
*/

/* margin/pading orientations:
top and bottom, left and right 
or
top, right, bottom, left
*/

body{
    background-color: rgb(58, 58, 58);
    color: white;
    font-family: Arial, Helvetica, sans-serif;

    /* margin and paddign are spesified heer beacuase there is a default and it cam be firent for diffrent browsers. */
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    background-image: url(Images/mountain.png);
    background-size: 100%;
    background-position: center;
    padding: 20px;
    text-align: center;
}

header .logo a {
    background-image: url(Images/tank.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-color: transparent;

    position: relative;
    top: -15px;
    display: inline-block;
    height: 105px;
    width: 200px;
    text-indent: -9999999999px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none; /* remove bullet points */
}

nav li {
    display: inline;
    margin-right: 20px;
    border-radius: 3px;
}

nav li.navigate {

    background-color: grey;
}

nav li.navigate:hover {
    background-color: red;
}

footer {
    background-color: black;
    padding: 20px;
    font-size: 12px;
    color: grey;
    text-align: center;
}

.feature {
    background-color: white;
    color: grey;
    padding: 40px;
    display: flex;
    flex-direction: row;
}

.feature figure {
    text-align: center;
    margin: auto;
    width: 200px;
    height: 200px;
    text-transform: uppercase;
}

.feature figure img {
    border-radius: 50%;
    border: 1px solid white;
    width: 200px;
    height: 200px;
    box-shadow: gray 0 0 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
